@font-face {
  font-family: "HossRoundBetaG Light";
  src: url("../fonts/HossRoundBetaG_Light.otf");
}

@font-face {
  font-family: "HossRoundBetaG Regular";
  src: url("../fonts/HossRoundBetaG_Regular.otf");
}

@font-face {
  font-family: "HossRoundBetaG Bold";
  src: url("../fonts/HossRoundBetaG_Bold.otf");
}

@font-face {
  font-family: "HossRoundBetaG Black";
  src: url("../fonts/HossRoundBetaG_Black.otf");
}

@font-face {
  font-family: "HossRoundBetaG Heavy";
  src: url("../fonts/HossRoundBetaG_Heavy.otf");
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-moz-selection {
  background: #312783;
  color: white;
}

::selection {
  background: #312783;
  color: white;
}

main {
  margin-top: 85px;
}

.overflow-hidden {
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "HossRoundBetaG Bold", sans-serif !important;
}

body,
p,
a,
li,
em,
small {
  font-family: "HossRoundBetaG Light", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312783;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2335a;
}

.inner-page-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.inner-page-banner .banner-image-block,
.inner-page-banner .banner-title-block {
  width: 50%;
}

.inner-page-banner .banner-title-block {
  margin-left: -4rem;
}

.inner-page-banner h1 {
  color: #e2335a;
  font-size: 90px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.inner-page-banner img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 980px) {
  .inner-page-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner-page-banner .banner-image-block,
  .inner-page-banner .banner-title-block {
    width: 100%;
    padding: 0 10px;
    margin-left: -30px;
  }
  .inner-page-banner .banner-title-block {
    margin-left: 2rem;
    margin-top: -4rem;
  }
}

@media (max-width: 680px) {
  .inner-page-banner h1 {
    font-size: 45px;
  }
}

.swing-in-left-fwd {
  -webkit-animation: swing-in-left-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

/**
 * ----------------------------------------
 * animation swing-in-left-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.site-header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 5%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 85px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.site-header a {
  color: #312783;
  font-family: "HossRoundBetaG Bold", sans-serif !important;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation ul li {
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
}

.main-navigation ul li a {
  padding: 0 20px;
  position: relative;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  letter-spacing: 1px;
}

.main-navigation ul li a::after {
  content: ". . .";
  position: absolute;
  bottom: -20px;
  left: 45%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.main-navigation ul li a:hover {
  color: #0090df;
  letter-spacing: 1.1px;
}

.main-navigation ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-navigation ul .menu-item.current-menu-item.current_page_item a {
  color: #0090df;
  position: relative;
}

.main-navigation ul .menu-item.current-menu-item.current_page_item a::after {
  content: ". . .";
  position: absolute;
  bottom: -20px;
  left: 45%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-icons a i {
  font-size: 24px;
  padding: 0 10px;
}

.burger {
  position: fixed;
  top: 38px;
  right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 30;
  display: none;
}

.burger-bar {
  background-color: #312783;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}

.burger-bar::before, .burger-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #312783;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-bar::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger-bar::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger.open .burger-bar {
  background: transparent;
}

.burger.open .burger-bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #312783;
}

.burger.open .burger-bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #312783;
}

.mobile-navigation {
  position: fixed;
  top: 85px;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  z-index: 30;
}

.mobile-navigation img {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
}

.mobile-navigation .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mobile-navigation .main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 0;
}

.mobile-navigation .main-navigation ul li {
  list-style: none;
  border-bottom: 1px solid #efefef;
  display: block;
  padding: 30px;
  width: 100%;
  text-align: center;
}

.mobile-navigation .main-navigation ul a {
  color: #312783;
  font-family: "HossRoundBetaG Bold";
  letter-spacing: 1px;
}

.mobile-navigation .main-navigation .nav-icons {
  padding: 20px 0;
}

.mobile-navigation .main-navigation .nav-icons a {
  color: #312783;
}

@media (max-width: 1024px) {
  .main-navigation {
    display: none;
  }
  .mobile-navigation {
    display: none;
  }
  .mobile-navigation .nav-icons {
    display: none;
  }
  .burger {
    display: block;
  }
  .site-header .nav-icons {
    margin-right: 8%;
  }
}

@media (max-width: 680px) {
  .burger {
    display: block;
  }
  .mobile-navigation .nav-icons {
    display: block;
  }
  .site-header .nav-icons {
    display: none;
  }
}

.home-banner {
  padding: 4rem 0 4rem 0;
  position: relative;
}

.home-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-love-text {
  width: 50%;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.big-love-image {
  width: auto;
  height: 520px;
  margin-left: -10rem;
  position: relative;
  z-index: -1;
}

.big-love-image .gray-heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.scroll-down {
  border: 2px solid #312783;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem auto 0rem auto;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.scroll-down i {
  color: #312783;
  font-weight: bold;
}

@media (max-width: 980px) {
  .home-banner {
    padding-bottom: 0;
  }
  .home-banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-love-text {
    width: 100%;
    height: auto;
    margin-bottom: -4rem;
  }
  .big-love-image {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
  .scroll-down {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .scroll-down {
    display: none;
  }
  .big-love-text {
    width: 100%;
    height: auto;
    margin-bottom: -4rem;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.showcase {
  background: #efefef;
  margin: 12rem 0 5rem 0;
}

.showcase article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase article .welcome-image {
  margin-top: -7rem;
}

.showcase article .welcome-image img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase article .welcome-content {
  margin-top: -4rem;
}

.showcase article p {
  color: #312783;
  font-family: "HossRoundBetaG Regular";
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -6rem;
  margin-bottom: 0;
}

.showcase article h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 65px;
  margin-left: -6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.showcase article a {
  margin: 3rem;
}

.showcase-courses {
  padding: 7rem 0 5rem 0;
}

.showcase-courses h3 {
  color: #312783;
  font-size: 50px;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  padding: 1rem 0 2rem 0;
  text-transform: uppercase;
}

.showcase-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-card {
  width: calc(50% - 20px);
  height: 610px;
  margin: 10px;
  border-radius: 0 0 10px 10px;
  background: white;
  position: relative;
}

.custom-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-card-content {
  color: #312783;
  padding: 25px;
}

.custom-card a {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

@media (max-width: 980px) {
  .showcase article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showcase article .welcome-content {
    margin-top: 2rem;
  }
  .showcase article h2,
  .showcase article p {
    margin-left: 0;
  }
  .showcase article h2 {
    font-size: 50px;
  }
  .showcase article a {
    margin: 0;
  }
  .custom-card {
    height: 650px;
  }
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
    height: 650px;
    margin: 10px;
  }
}

@media (max-width: 550px) {
  .showcase article h2 {
    font-size: 30px;
  }
  .custom-card {
    height: auto;
  }
  .custom-card a {
    position: relative;
    left: 0;
    margin-top: 15px;
    display: inline-block;
  }
}

.join-the-club {
  color: #312783;
  padding: 5rem 0;
}

.join-the-club-content {
  padding-right: 3rem;
}

.join-the-club h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 60px;
  text-transform: uppercase;
}

.join-the-club p {
  max-width: 400px;
  width: 100%;
}

.join-the-club span {
  font-weight: 600;
}

.join-the-club span a {
  color: #312783;
  font-weight: bold;
}

div.wpforms-container-full .wpforms-form input[type="date"],
div.wpforms-container-full .wpforms-form input[type="datetime"],
div.wpforms-container-full .wpforms-form input[type="datetime-local"],
div.wpforms-container-full .wpforms-form input[type="email"],
div.wpforms-container-full .wpforms-form input[type="month"],
div.wpforms-container-full .wpforms-form input[type="number"],
div.wpforms-container-full .wpforms-form input[type="password"],
div.wpforms-container-full .wpforms-form input[type="range"],
div.wpforms-container-full .wpforms-form input[type="search"],
div.wpforms-container-full .wpforms-form input[type="tel"],
div.wpforms-container-full .wpforms-form input[type="text"],
div.wpforms-container-full .wpforms-form input[type="time"],
div.wpforms-container-full .wpforms-form input[type="url"],
div.wpforms-container-full .wpforms-form input[type="week"],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px !important;
  color: #312783 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  border: 3px solid #efefef !important;
  padding: 6px 10px;
  height: 40px;
  width: 100%;
  line-height: 1.3;
}

div.wpforms-container-full .wpforms-form textarea {
  resize: none;
}

@media (max-width: 768px) {
  .join-the-club h2 {
    font-size: 50px;
  }
}

.what-swimmers-say {
  padding: 5rem 0;
}

.what-swimmers-say h3 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 35px;
  text-transform: uppercase;
}

.what-swimmers-say img {
  display: block;
  width: 80px;
  margin: 48px auto;
  text-align: center;
}

.what-swimmers-say .quotes {
  color: #312783;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.what-swimmers-say .quotes-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-swimmers-say .quote-button-prev,
.what-swimmers-say .quote-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #312783;
  color: #312783;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.what-swimmers-say .quote-button-prev:hover,
.what-swimmers-say .quote-button-next:hover {
  background-color: #312783;
  color: white;
}

.qualifications {
  color: #312783;
}

.qualifications .heart-block {
  padding-bottom: 100px;
}

.qualifications img {
  width: 120px;
  padding: 10px;
}

.qualifications h3 {
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 48px;
  text-transform: uppercase;
}

.qualifications h6 {
  display: block;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .qualifications h3 {
    font-size: 35px;
  }
}

.keep-up-with-club {
  background: #efefef;
  color: #312783;
  padding: 5rem 0;
}

.keep-up-with-club h2 {
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 45px;
  color: #312783;
  text-transform: uppercase;
}

.keep-up-with-club a {
  color: #312783;
  font-family: "HossRoundBetaG Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keep-up-with-club a i {
  font-size: 24px;
  margin-right: 10px;
}

.keep-up-with-club a:hover {
  color: #e2335a;
}

.gallery-card {
  background: white;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.gallery-card:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.1);
}

.gallery-card h4 {
  padding: 30px;
  display: none;
}

.gallery-card h6 {
  display: none;
}

.gallery-card-content {
  padding: 30px 20px;
}

.gallery-card .image-link {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.gallery-slide-active:hover .gallery-card {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.gallery-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-controls .gallery-button-prev,
.gallery-controls .gallery-button-next {
  width: 50px;
  height: 50px;
  border: 2px solid #312783;
  border-radius: 50%;
  background: transparent;
  color: #312783;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.gallery-controls .gallery-button-prev:hover,
.gallery-controls .gallery-button-next:hover {
  background: #312783;
  color: white;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.6;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-image-holder .mfp-content {
  max-width: 80% !important;
}

.mfp-image-holder .mfp-close {
  background: #312783;
  border: 3px solid white;
  color: white;
  padding-right: 6px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  padding: 1px 8px;
  margin: 16px -18px;
}

.mfp-container {
  background: #312783 0% 0% no-repeat padding-box;
  opacity: 0.9;
}

.mfp-arrow:before {
  border-top-width: 0px;
  border-bottom-width: 0;
  opacity: 0.7;
}

.mfp-arrow-right:after {
  border-left: 0;
  margin-left: 0;
  font-family: 'Font Awesome 5 Pro';
  font-size: 36px;
  content: '\f138';
  color: white;
}

.mfp-arrow-left:after {
  border-right: 0;
  margin-right: 0;
  margin-left: 50px;
  font-family: 'Font Awesome 5 Pro';
  font-size: 36px;
  content: '\f137';
  color: white;
}

.btn-purple {
  background: transparent;
  border: 2px solid #312783;
  border-radius: 30px;
  color: #312783;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-purple:hover {
  background: #312783;
  color: white;
}

.btn-red,
button.wpforms-submit {
  background: transparent;
  border: 2px solid #e2335a;
  border-radius: 30px;
  color: #e2335a;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-red:hover,
button.wpforms-submit:hover {
  background: #e2335a;
  color: white;
}

form button.wpforms-submit,
.wpforms-form input[type="submit"] {
  background: transparent !important;
  border: 2px solid #e2335a !important;
  border-radius: 30px !important;
  color: #e2335a !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  padding: 10px 20px !important;
  -webkit-transition: all 250ms ease !important;
  transition: all 250ms ease !important;
}

form button.wpforms-submit:hover,
.wpforms-form input[type="submit"]:hover {
  background: #e2335a !important;
  color: white !important;
}

footer {
  background: #312783;
  color: white;
  padding: 2rem 0;
}

footer a {
  color: white;
  font-family: "HossRoundBetaG Bold", sans-serif !important;
  letter-spacing: 2px;
}

footer img {
  width: 90%;
}

.footer-menu a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}

.footer-menu a:hover {
  color: white;
  opacity: 0.8;
}

.footer-links p {
  font-weight: 700;
}

.footer-links span {
  font-weight: normal;
  margin-right: 20px;
}

.footer-links,
.footer-menu {
  margin-bottom: 2rem;
}

.footer-icons a {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.footer-icons a:hover {
  color: white;
  opacity: 0.8;
}

#backToTop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 20px;
  border: none;
  border-radius: 100%;
  font-size: 18px;
  outline: none;
  background-color: #312783;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  -webkit-transition: 350ms;
  transition: 350ms;
  z-index: 20;
}

#backToTop:hover {
  background: #e2335a;
}

@media (max-width: 580px) {
  .footer-links p {
    font-size: 12px;
  }
}

.page-header {
  background: #efefef;
  color: #e2335a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.page-header h1 {
  font-size: 70px;
  font-weight: bold;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}

.page-content {
  padding: 5rem 0;
}

.page-content article {
  color: #312783;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-header h1 {
    font-size: 45px;
  }
}

.single-course-content {
  color: #312783;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}

.single-course-content .price {
  color: #e2335a;
  font-weight: 600;
}

.single-course-content h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.single-course-content form {
  text-align: left !important;
}

.inner-page-banner .course-page-title h1 {
  font-size: 65px;
}

@media (max-width: 768px) {
  .single-course-page-banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single-course-page-banner img {
    width: 100%;
  }
  .single-course-page-banner .banner-title-block h1 {
    font-size: 35px;
    margin-left: -30px;
    padding: 0 10px;
  }
  .single-course-content h2 {
    font-size: 50px;
  }
}

.page-not-found {
  color: #312783;
  padding: 12rem 0;
}

.page-not-found h1 {
  color: #e2335a;
  font-size: 60px;
}

.page-not-found p {
  padding: 20px 0;
}

.about {
  color: #312783;
  padding: 2rem 0 5rem 0;
}

.about h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  text-transform: uppercase;
}

.about-intro {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.about strong {
  font-weight: bold;
}

.lisa {
  background: #efefef;
  margin-top: 5rem;
  padding: 6rem 3rem;
  position: relative;
}

.lisa img {
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 50px;
  }
  .lisa {
    padding: 4rem 1rem 2rem 1rem;
  }
}

.courses-and-coaching {
  background: #efefef;
  padding: 5rem 0;
}

.courses-and-coaching h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.all-courses {
  padding: 3rem 0;
}

.course-block {
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
}

.course-block .course-block-image,
.course-block .course-block-content {
  width: 50%;
}

.course-block img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-block .course-block-content {
  color: #312783;
  padding: 30px;
}

.course-block .course-block-content .price {
  color: #e2335a;
  font-weight: bold;
}

.course-block .difficulty-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.course-block .difficulty-level .heart-icons {
  margin-left: 20px;
  margin-top: -10px;
}

@media (max-width: 980px) {
  .courses-and-coaching-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses-and-coaching-banner .banner-image-block,
  .courses-and-coaching-banner .banner-title-block {
    width: 100%;
  }
  .courses-and-coaching-banner .banner-title-block {
    margin-left: 2rem;
    margin-top: -4rem;
  }
  .course-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .course-block .course-block-image,
  .course-block .course-block-content {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .courses-and-coaching-banner h1 {
    font-size: 45px;
  }
  .courses-and-coaching h2 {
    font-size: 50px;
  }
  .course-block .difficulty-level .heart-icons i {
    font-size: 14px;
  }
}
