@font-face {
  font-family: "HossRoundBetaG Light";
  src: url("../fonts/HossRoundBetaG_Light.otf");
}

@font-face {
  font-family: "HossRoundBetaG Regular";
  src: url("../fonts/HossRoundBetaG_Regular.otf");
}

@font-face {
  font-family: "HossRoundBetaG Bold";
  src: url("../fonts/HossRoundBetaG_Bold.otf");
}

@font-face {
  font-family: "HossRoundBetaG Black";
  src: url("../fonts/HossRoundBetaG_Black.otf");
}

@font-face {
  font-family: "HossRoundBetaG Heavy";
  src: url("../fonts/HossRoundBetaG_Heavy.otf");
}

::-moz-selection {
  background: #312783;
  color: white;
}

::selection {
  background: #312783;
  color: white;
}

main {
  margin-top: 85px;
}

h1 {
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "HossRoundBetaG Bold", sans-serif !important;
}

body,
p,
a,
li,
em,
small {
  font-family: "HossRoundBetaG Light", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312783;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2335a;
}

.inner-page-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.inner-page-banner .banner-image-block,
.inner-page-banner .banner-title-block {
  width: 50%;
}

.inner-page-banner .banner-title-block {
  margin-left: -4rem;
}

.inner-page-banner h1 {
  color: #e2335a;
  font-size: 90px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.inner-page-banner img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 980px) {
  .inner-page-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-page-banner .banner-image-block,
  .inner-page-banner .banner-title-block {
    width: 100%;
  }
  .inner-page-banner .banner-title-block {
    margin-left: 2rem;
    margin-top: -4rem;
  }
}

@media (max-width: 680px) {
  .inner-page-banner h1 {
    font-size: 45px;
  }
}

.site-header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 5%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 85px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.site-header a {
  color: #312783;
  font-family: "HossRoundBetaG Bold", sans-serif !important;
}

.nav-links {
  font-weight: 600;
  text-transform: uppercase;
}

.nav-links a {
  padding: 0 20px;
}

.nav-icons a i {
  font-size: 20px;
  padding: 0 10px;
}

.home-banner {
  padding: 8rem 0 5rem 0;
}

.home-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-love-text {
  width: 35%;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.big-love-image {
  width: 65%;
  margin-left: -10rem;
  position: relative;
  z-index: -1;
}

.scroll-down {
  border: 2px solid #312783;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto 15rem auto;
}

.scroll-down i {
  color: #312783;
  font-weight: bold;
}

@media (max-width: 980px) {
  .home-banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-love-text {
    width: 80%;
    margin-bottom: -4rem;
  }
  .big-love-image {
    margin-left: 0;
    width: 100%;
  }
}

.showcase {
  background: #efefef;
  margin: 5rem 0;
}

.showcase article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase article .welcome-image {
  margin-top: -7rem;
}

.showcase article .welcome-content {
  margin-top: -4rem;
}

.showcase article p {
  color: #312783;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -6rem;
  margin-bottom: 0;
}

.showcase article h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 60px;
  margin-left: -6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.showcase article a {
  margin: 3rem;
}

.showcase-courses {
  padding: 7rem 0 5rem 0;
}

.showcase-courses h3 {
  color: #312783;
  font-size: 50px;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  padding: 1rem 0 2rem 0;
  text-transform: uppercase;
}

.showcase-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  background: white;
}

.custom-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-card-content {
  color: #312783;
  padding: 25px;
}

@media (max-width: 980px) {
  .showcase article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showcase article .welcome-content {
    margin-top: 2rem;
  }
  .showcase article h2,
  .showcase article p {
    margin-left: 0;
  }
  .showcase article h2 {
    font-size: 50px;
  }
  .showcase article a {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 550px) {
  .showcase article h2 {
    font-size: 30px;
  }
}

.join-the-club {
  color: #312783;
  padding: 5rem 0;
}

.join-the-club-content {
  padding-right: 3rem;
}

.join-the-club h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 60px;
  text-transform: uppercase;
}

.join-the-club p {
  max-width: 400px;
  width: 100%;
}

.join-the-club span {
  font-weight: 600;
}

div.wpforms-container-full .wpforms-form input[type="date"],
div.wpforms-container-full .wpforms-form input[type="datetime"],
div.wpforms-container-full .wpforms-form input[type="datetime-local"],
div.wpforms-container-full .wpforms-form input[type="email"],
div.wpforms-container-full .wpforms-form input[type="month"],
div.wpforms-container-full .wpforms-form input[type="number"],
div.wpforms-container-full .wpforms-form input[type="password"],
div.wpforms-container-full .wpforms-form input[type="range"],
div.wpforms-container-full .wpforms-form input[type="search"],
div.wpforms-container-full .wpforms-form input[type="tel"],
div.wpforms-container-full .wpforms-form input[type="text"],
div.wpforms-container-full .wpforms-form input[type="time"],
div.wpforms-container-full .wpforms-form input[type="url"],
div.wpforms-container-full .wpforms-form input[type="week"],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px !important;
  color: #312783 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  border: 3px solid #efefef !important;
  padding: 6px 10px;
  height: 40px;
  width: 100%;
  line-height: 1.3;
}

div.wpforms-container-full .wpforms-form textarea {
  resize: none;
}

.what-swimmers-say {
  padding: 5rem 0;
}

.what-swimmers-say h3 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 35px;
  text-transform: uppercase;
}

.what-swimmers-say img {
  display: block;
  width: 80px;
  margin: 48px auto;
  text-align: center;
}

.what-swimmers-say .quotes {
  color: #312783;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.what-swimmers-say .quotes-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-swimmers-say .quote-button-prev,
.what-swimmers-say .quote-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #312783;
  color: #312783;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qualifications {
  color: #312783;
}

.qualifications .heart-block {
  padding-bottom: 100px;
}

.qualifications img {
  width: 120px;
  padding: 10px;
}

.qualifications h3 {
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 48px;
  text-transform: uppercase;
}

.qualifications h6 {
  display: block;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.btn-purple {
  background: transparent;
  border: 2px solid #312783;
  border-radius: 30px;
  color: #312783;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-purple:hover {
  background: #312783;
  color: white;
}

.btn-red,
button.wpforms-submit {
  background: transparent;
  border: 2px solid #e2335a;
  border-radius: 30px;
  color: #e2335a;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-red:hover,
button.wpforms-submit:hover {
  background: #e2335a;
  color: white;
}

form button.wpforms-submit,
.wpforms-form input[type="submit"] {
  background: transparent !important;
  border: 2px solid #e2335a !important;
  border-radius: 30px !important;
  color: #e2335a !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  padding: 10px 20px !important;
  -webkit-transition: all 250ms ease !important;
  transition: all 250ms ease !important;
}

form button.wpforms-submit:hover,
.wpforms-form input[type="submit"]:hover {
  background: #e2335a !important;
  color: white !important;
}

footer {
  background: #312783;
  color: white;
  padding: 2rem 0;
}

footer a {
  color: white;
  font-family: "HossRoundBetaG Bold", sans-serif !important;
  letter-spacing: 2px;
}

.footer-menu a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}

.footer-menu a:hover {
  color: white;
  opacity: 0.8;
}

.footer-links p {
  font-weight: 700;
}

.footer-links span {
  font-weight: normal;
  margin-right: 20px;
}

.footer-links,
.footer-menu {
  margin-bottom: 2rem;
}

.footer-icons a {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.footer-icons a:hover {
  color: white;
  opacity: 0.8;
}

.page-header {
  background: #efefef;
  color: #e2335a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.page-header h1 {
  font-size: 70px;
  font-weight: bold;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}

.page-content {
  padding: 5rem 0;
}

.page-content article {
  color: #312783;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.single-course-content {
  color: #312783;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}

.single-course-content .price {
  color: #e2335a;
  font-weight: 600;
}

.single-course-content h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.single-course-content form {
  text-align: left !important;
}

.inner-page-banner .course-page-title h1 {
  font-size: 65px;
}

.about {
  color: #312783;
  padding: 2rem 0 5rem 0;
}

.about h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  text-transform: uppercase;
}

.about-intro {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.about strong {
  font-weight: bold;
}

.lisa {
  background: #efefef;
  margin-top: 5rem;
  padding: 6rem 3rem;
  position: relative;
}

.lisa img {
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .lisa {
    padding: 4rem 1rem 2rem 1rem;
  }
}

.courses-and-coaching {
  background: #efefef;
  padding: 5rem 0;
}

.courses-and-coaching h2 {
  color: #e2335a;
  font-family: "HossRoundBetaG Heavy", sans-serif !important;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.all-courses {
  padding: 3rem 0;
}

.course-block {
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
}

.course-block .course-block-image,
.course-block .course-block-content {
  width: 50%;
}

.course-block img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-block .course-block-content {
  color: #312783;
  padding: 30px;
}

.course-block .course-block-content .price {
  color: #e2335a;
  font-weight: bold;
}

.course-block .difficulty-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.course-block .difficulty-level .heart-icons {
  margin-left: 20px;
}

@media (max-width: 980px) {
  .courses-and-coaching-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses-and-coaching-banner .banner-image-block,
  .courses-and-coaching-banner .banner-title-block {
    width: 100%;
  }
  .courses-and-coaching-banner .banner-title-block {
    margin-left: 2rem;
    margin-top: -4rem;
  }
  .course-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .course-block .course-block-image,
  .course-block .course-block-content {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .courses-and-coaching-banner h1 {
    font-size: 45px;
  }
}
