$purple: #322883;
$red: #e2345a;

::selection {
	background: $purple;
	color: white;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

img {
	width: 100%;
}

//Scrollbar

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $purple #fefefe;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #fefefe;
}

*::-webkit-scrollbar-thumb {
	background-color: $purple;
	border-radius: 20px;
	border: 3px solid #fefefe;
}
