$purple: #312783;
$red: #e2335a;
$blue: #0090df;
$light-gray: #efefef;

// Fonts Files
@font-face {
	font-family: "HossRoundBetaG Light";
	src: url("../fonts/HossRoundBetaG_Light.otf");
}

@font-face {
	font-family: "HossRoundBetaG Regular";
	src: url("../fonts/HossRoundBetaG_Regular.otf");
}

@font-face {
	font-family: "HossRoundBetaG Bold";
	src: url("../fonts/HossRoundBetaG_Bold.otf");
}

@font-face {
	font-family: "HossRoundBetaG Black";
	src: url("../fonts/HossRoundBetaG_Black.otf");
}

@font-face {
	font-family: "HossRoundBetaG Heavy";
	src: url("../fonts/HossRoundBetaG_Heavy.otf");
}

// Global Styles
html,
body {
	scroll-behavior: smooth;
}

::selection {
	background: $purple;
	color: white;
}

main {
	margin-top: 85px;
}

h1 {
	font-family: "HossRoundBetaG Heavy", sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "HossRoundBetaG Bold", sans-serif !important;
}

body,
p,
a,
li,
em,
small {
	font-family: "HossRoundBetaG Light", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

img {
	width: 100%;
}

//Scrollbar

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $purple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $red;
}

// Inner Page Banner
.inner-page-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 5rem;

	.banner-image-block,
	.banner-title-block {
		width: 50%;
	}

	.banner-title-block {
		margin-left: -4rem;
	}

	h1 {
		color: $red;
		font-size: 90px;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
	}

	img {
		width: 100%;
		height: 550px;
		object-fit: cover;
	}
}

@media (max-width: 980px) {
	.inner-page-banner {
		flex-direction: column;

		.banner-image-block,
		.banner-title-block {
			width: 100%;
		}

		.banner-title-block {
			margin-left: 2rem;
			margin-top: -4rem;
		}
	}
}

@media (max-width: 680px) {
	.inner-page-banner {
		h1 {
			font-size: 45px;
		}
	}
}
