.site-header {
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 5%;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 85px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 20;

	a {
		color: $purple;
		font-family: "HossRoundBetaG Bold", sans-serif !important;
	}
}

.nav-links {
	font-weight: 600;
	text-transform: uppercase;

	a {
		padding: 0 20px;
	}
}

.nav-icons a i {
	font-size: 20px;
	padding: 0 10px;
}

// Burger Icon
.burger {
	position: fixed;
	top: 38px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
	z-index: 30;
}

.burger-bar {
	background-color: $purple;
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 3px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: $purple;
		border-radius: 3px;
		transition: all 500ms ease-in-out;
	}

	&::before {
		transform: translateY(-10px);
	}

	&::after {
		transform: translateY(10px);
	}
}

.burger.open .burger-bar {
	background: transparent;
}

.burger.open .burger-bar::before {
	transform: rotate(45deg);
	background: $purple;
}

.burger.open .burger-bar::after {
	transform: rotate(-45deg);
	background: $purple;
}

.mobile-navigation {
	position: absolute;
	top: 85px;
	width: 100%;
	height: 100vh;
	background: white;
	padding: 0 30px;

	display: none;
	z-index: 10;

	.main-navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.nav-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			li {
				list-style: none;
				border-bottom: 1px solid $light-gray;
				padding: 20px 0;
			}

			a {
				color: $purple;
				font-family: "HossRoundBetaG Bold";
			}
		}
		.nav-icons {
			padding: 20px 0;

			a {
				color: $purple;
			}
		}
	}
}

@media (max-width: 1024px) {
	.main-navigation {
		display: none;
	}

	.mobile-navigation {
		display: none;
	}
}
