.site-header {
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 5%;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 85px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 20;

	a {
		color: $purple;
		font-family: "HossRoundBetaG Bold", sans-serif !important;
	}
}

.main-navigation ul {
	display: flex;
	li {
		font-weight: 600;
		list-style: none;
		text-transform: uppercase;

		a {
			padding: 0 20px;
			position: relative;
			transition: all 250ms;

			&::after {
				content: ". . .";
				position: absolute;
				bottom: -20px;
				left: 45%;
				transform: scale(0);
				transition: all 350ms ease-in-out;
			}

			&:hover {
				color: $blue;
			}

			&:hover::after {
				transform: scale(1);
			}
		}
	}

	.menu-item.current-menu-item.current_page_item a {
		color: $blue;
		position: relative;

		&::after {
			content: ". . .";
			position: absolute;
			bottom: -20px;
			left: 45%;
			transform: scale(1);
		}
	}
}

.nav-icons a i {
	font-size: 24px;
	padding: 0 10px;
}

// Burger Icon
.burger {
	position: fixed;
	top: 38px;
	right: 5%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
	z-index: 30;
	display: none;
}

.burger-bar {
	background-color: $purple;
	border-radius: 3px;
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 5px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 5px;
		background-color: $purple;
		border-radius: 3px;
		transition: all 500ms ease-in-out;
	}

	&::before {
		transform: translateY(-10px);
	}

	&::after {
		transform: translateY(10px);
	}
}

.burger.open .burger-bar {
	background: transparent;
}

.burger.open .burger-bar::before {
	transform: rotate(45deg);
	background: $purple;
}

.burger.open .burger-bar::after {
	transform: rotate(-45deg);
	background: $purple;
}

.mobile-navigation {
	position: fixed;
	top: 85px;
	width: 100%;
	height: 100%;
	background: white;
	display: none;
	z-index: 10;

	img {
		position: absolute;
		bottom: 5rem;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50px;
	}

	.main-navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding-left: 0;

			li {
				list-style: none;
				border-bottom: 1px solid $light-gray;
				display: block;
				padding: 30px;
				width: 100%;
				text-align: center;
			}

			a {
				color: $purple;
				font-family: "HossRoundBetaG Bold";
			}
		}
		.nav-icons {
			padding: 20px 0;

			a {
				color: $purple;
			}
		}
	}
}

@media (max-width: 1024px) {
	.main-navigation {
		display: none;
	}

	.mobile-navigation {
		display: none;

		.nav-icons {
			display: none;
		}
	}

	.burger {
		display: block;
	}

	.site-header .nav-icons {
		margin-right: 8%;
	}
}

@media (max-width: 680px) {
	.burger {
		display: block;
	}

	.mobile-navigation {
		.nav-icons {
			display: block;
		}
	}

	.site-header .nav-icons {
		display: none;
	}
}
