.home-banner {
	padding: 4rem 0 4rem 0;
	position: relative;

	.container {
		display: flex;
		align-items: center;
	}
}

.big-love-text {
	width: 35%;
	opacity: 0.9;
	position: relative;
	z-index: 1;
}

.big-love-image {
	width: auto;
	height: 520px;
	margin-left: -10rem;
	position: relative;
	z-index: -1;

	.gray-heart-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}
}

.scroll-down {
	border: 2px solid $purple;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8rem auto 0rem auto;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;

	i {
		color: $purple;
		font-weight: bold;
	}
}

@media (max-width: 980px) {
	.home-banner {
		padding-bottom: 2rem;
	}

	.home-banner .container {
		flex-direction: column;
	}

	.big-love-text {
		width: 100%;
		height: 550px;
		margin-bottom: -4rem;
	}

	.big-love-image {
		margin-left: 0;
		width: 100%;
	}

	.scroll-down {
		margin-top: 4rem;
	}
}

@media (max-width: 680px) {
	.scroll-down {
		display: none;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
