.join-the-club {
	color: $purple;
	padding: 5rem 0;

	&-content {
		padding-right: 3rem;
	}

	h2 {
		color: $red;
		font-family: "HossRoundBetaG Heavy", sans-serif !important;
		font-size: 60px;
		text-transform: uppercase;
	}

	p {
		max-width: 400px;
		width: 100%;
	}

	span {
		font-weight: 600;
	}
}

div.wpforms-container-full .wpforms-form input[type="date"],
div.wpforms-container-full .wpforms-form input[type="datetime"],
div.wpforms-container-full .wpforms-form input[type="datetime-local"],
div.wpforms-container-full .wpforms-form input[type="email"],
div.wpforms-container-full .wpforms-form input[type="month"],
div.wpforms-container-full .wpforms-form input[type="number"],
div.wpforms-container-full .wpforms-form input[type="password"],
div.wpforms-container-full .wpforms-form input[type="range"],
div.wpforms-container-full .wpforms-form input[type="search"],
div.wpforms-container-full .wpforms-form input[type="tel"],
div.wpforms-container-full .wpforms-form input[type="text"],
div.wpforms-container-full .wpforms-form input[type="time"],
div.wpforms-container-full .wpforms-form input[type="url"],
div.wpforms-container-full .wpforms-form input[type="week"],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px !important;
	color: $purple !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	float: none;
	font-size: 16px;
	border: 3px solid $light-gray !important;
	padding: 6px 10px;
	height: 40px;
	width: 100%;
	line-height: 1.3;
}

div.wpforms-container-full .wpforms-form textarea {
	resize: none;
}
