.join-the-club {
	color: $purple;
	padding: 5rem 0;

	h2 {
		color: $red;
		font-family: "HossRoundBetaG Heavy", sans-serif !important;
		font-size: 60px;
		text-transform: uppercase;
	}

	span {
		font-weight: 600;
	}
}
