.keep-up-with-club {
	background: $light-gray;
	color: $purple;
	padding: 5rem 0;

	h2 {
		font-family: "HossRoundBetaG Heavy", sans-serif !important;
		font-size: 45px;
		color: $purple;
		text-transform: uppercase;
	}

	a {
		color: $purple;
		font-family: "HossRoundBetaG Bold";
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			font-size: 24px;
			margin-right: 10px;
		}

		&:hover {
			color: $red;
		}
	}
}

.gallery-card {
	background: white;
	border-radius: 5px;
	transition: transform 350ms;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.1);
	}

	// &:hover img {
	// 	padding: 5px;
	// 	transition: all 550ms ease-in-out;
	// 	overflow: hidden;
	// }

	h4 {
		padding: 30px;
	}

	&-content {
		padding: 30px 20px;
	}

	.image-link {
		transition: all 500ms;
	}
}

.gallery-slide-active:hover .gallery-card {
	transform: translateY(-2px);
}

.gallery-controls {
	display: flex;
	align-content: center;
	justify-content: center;

	.gallery-button-prev,
	.gallery-button-next {
		width: 50px;
		height: 50px;
		border: 2px solid $purple;
		border-radius: 50%;
		background: transparent;
		color: $purple;

		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px;

		&:hover {
			background: $purple;
			color: white;
		}
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.6;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-image-holder .mfp-content {
	max-width: 80% !important;
}

.mfp-image-holder .mfp-close {
	background: $purple !important;
	color: white !important;
	padding-right: 6px;
	width: 50px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-align: center !important;
	border-radius: 50px;
	padding: 1px 8px;
	margin: 16px -18px;
}
