.showcase {
	background: $light-gray;
	margin: 12rem 0 5rem 0;

	article {
		display: flex;

		.welcome-image {
			margin-top: -7rem;

			img {
				height: 450px;
				object-fit: cover;
			}
		}

		.welcome-content {
			margin-top: -4rem;
		}

		p {
			color: $purple;
			font-family: "HossRoundBetaG Regular";
			font-weight: bold;
			text-transform: uppercase;
			margin-left: -6rem;
			margin-bottom: 0;
		}

		h2 {
			color: $red;
			font-family: "HossRoundBetaG Heavy", sans-serif !important;
			font-size: 65px;
			margin-left: -6rem;
			margin-bottom: 3rem;
			text-transform: uppercase;
		}

		a {
			margin: 3rem;
		}
	}
}

.showcase-courses {
	padding: 7rem 0 5rem 0;

	h3 {
		color: $purple;
		font-size: 50px;
		font-family: "HossRoundBetaG Heavy", sans-serif !important;
		padding: 1rem 0 2rem 0;
		text-transform: uppercase;
	}
}

.showcase-cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.custom-card {
	width: calc(50% - 20px);
	height: 610px;
	margin: 10px;
	border-radius: 0 0 10px 10px;
	background: white;
	position: relative;

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	&-content {
		color: $purple;
		padding: 25px;
	}

	a {
		position: absolute;
		bottom: 20px;
		left: 25px;
	}
}

@media (max-width: 980px) {
	.showcase article {
		flex-direction: column;

		.welcome-content {
			margin-top: 2rem;
		}

		h2,
		p {
			margin-left: 0;
		}

		h2 {
			font-size: 50px;
		}

		a {
			margin: 0;
		}
	}

	.custom-card {
		height: 650px;
	}
}

@media (max-width: 768px) {
	.custom-card {
		width: 100%;
		height: 650px;
		margin: 10px;
	}
}

@media (max-width: 550px) {
	.showcase article {
		h2 {
			font-size: 30px;
		}
	}

	.custom-card {
		height: auto;

		a {
			position: relative;
			left: 0;
			margin-top: 15px;
			display: inline-block;
		}
	}
}
